.feedInfoLayout {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.feedInfoColumn {
    display: flex;
    flex-direction: row;
    gap: 36px
}
.feedInfoColumn > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.successOrder {
    color: var(--interface-success, #0CC);
}
.orderColumn {
    display: grid;
    grid-template-rows:repeat(10, max-content);
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 24px;
}
