.flex{
    display: flex;
}

.containerConstructor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.containerConstructorInside {
    composes: containerConstructor;
    height: 500px;
    overflow-y: auto;
}
.wrapperConstructor{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
/* custom scrollbar start */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}
::-webkit-scrollbar-thumb:hover {
    background: #7e7eb2;
}
/* custom scrollbar end */
.containerConstructorFinal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.borderAccent > section > div {
    background-color: var(--colors-interface-accent);
}

.startSectionBun {
    background: var(--background-element);
    text-align: center;
    padding: 16px 24px;
    border-bottom: 2px solid var(--interface-accent);
}
.startSectionIngredient {
    background: var(--interface-accent);
    text-align: center;
    padding: 16px 24px;
    margin-left: 30px;
}
